<nav>
    <ul class="wrapper">
        {% for menu in menus %}
            {% set current_menu = (menu.object_id == post.id ) ? 'active' : '' %}
            <li class="{{ current_menu }}">
                <a href="{{ menu.url }}" title="{{ menu.title }}">
                    {{ menu.title }}
                </a>
                {% if menu.childs is defined %}
                    <ul>
                    {% for child in menu.childs %}
                        <li>
                            <a href="{{ child.url }}" title="{{ child.title }}">
                                {{ child.title }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>

<ul class="lang-switcher">
    {% for lang in languages %}
        {% set class_add = (lang == current_lang ) ? 'current' : '' %}
        <li class="{{ class_add }}"><a href="{{ options.home }}/{{ lang }}/{{ post.post_name }}">{{ lang }}</a></li>
    {% endfor %}
</ul>