/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor. 
    Created on : 3 oct. 2016, 08:15:02
    Author     : MEO
*/

#header
{
    width: 100%;   
    padding-top: 70px;
    background: transparent url(images/background-header.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    //overflow: hidden;
}
.bloc-logo-header
{
    height: 100px;
    width: 390px;
    display: flex;
    position: relative;
    left: 0;
    bottom: -30px;
    @media @tablets-portrait
    {
        width: 350px !important;

    }
    @media @smartphones
    {
        width: 297px !important;
    }
}
.bloc-logo-header div > .svgelem
{
    -moz-transform: scaleY(-1);    /* Gecko */
    -o-transform: scaleY(-1);      /* Opera */
    -webkit-transform: scaleY(-1); /* Webkit */
    transform: scaleY(-1);         /* Standard */
    width: 100%;
    height: 100%;
}
.bloc-logo-header div > .svgelem polygon
{
    width: 100%;
    height: 100%;
    fill: rgba(255, 255, 255, 0.9);
}
.bloc-logo-header div.left-content
{
    width: 90px;
    margin-right: 10px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    html body#homepage .bloc-logo-homepage div.left-content
    {
        overflow: hidden;
    }
}
.bloc-logo-header > div
{
    flex: auto;
    position: relative;
}

.bloc-logo-header > div.right-content
{
    width: 290px;
}
.bloc-logo-header > div.left-content > img
{
    width: 65%;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 17.5%;
}
.bloc-logo-header > div.right-content > img
{
    width: 75%;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 20px;
}


#header .wrapper img#img-logo
        {
            flex: auto;
            width: 297px;            
            max-width: 297px !important;            
            flex-direction: row;
            justify-content: flex-end;
            margin-bottom: 50px;
            margin-left: 10px;
        }        
        #header .wrapper.top-head
        {
            position: relative;
            top: 20px;
            @media @tablets-portrait
            { 
                width: 297px !important;
                
            }
            @media @smartphones
            {
                width: 297px !important;
            }
        }
        #header .wrapper.top-head img#img-logo
        {
            @media @tablets-portrait
            { 
                margin-left: 0px; 
            }
            @media @smartphones
            {
                margin-left: 0px; 
            }
        }
        
    #header #main-navigation
    {
        width: 100%;
        margin-top: 50px;
        padding: 0;
        position: relative;
        .mixin-background-color-opacity(143,119,106,0.9);
        @media @tablets-portrait
        { 
            display: block;
            padding: 0 0px;
        }
        @media @smartphones
        {
            display: block;
            padding: 0 0px;
        }
    }       
        #header #main-navigation ul
        {
            width: 100%;
            display: flex;
            @media @tablets-portrait
            { 
                display: none;
            }
            @media @smartphones
            {
                display: none;
            }
        } 
            #header #main-navigation ul > li
            {
                position: relative;
                list-style: none;
                padding: 15px 20px;
                max-height: 25px !important;
            }
            #header #main-navigation ul > li:hover,
            #header #main-navigation ul#menu-main_navigation > li.current-menu-item,
            #header #main-navigation ul#menu-main_navigation > li.current-menu-parent
            {
                background-color: @grey;
                border-left: 1px solid rgba(255, 255, 255, 0.7);
                border-right: 1px solid rgba(255, 255, 255, 0.7);
                padding: 15px 19px;
            }
                #header #main-navigation ul > li > a
                {
                    width: 100%;
                    height: 100%;
                    max-height: 25px !important;
                    color: #fff;
                    display: block;
                    text-align: left;
                    text-decoration: none;
                }
            #header #main-navigation ul > li:hover ul.sub-menu
            {
                display: block;
            }    
            #header #main-navigation ul ul.sub-menu
            {
                bottom: -183%;
                left: -1px;
                z-index: 200;
                min-width: 150px;
                display: none;
                list-style: none;
                position: absolute;
                background-color: #fff;
                border: 1px solid #efefef;
               /* border-top: 3px solid @blue;*/
                overflow: hidden;
            }
            #header #main-navigation ul ul.sub-menu > li
            {
                display: block;
                color: #000;
                width: 100%;
                border-bottom: 1px solid #efefef;
            }
            #header #main-navigation ul ul.sub-menu > li:hover
            {
                background-color: #efefef;
            }
            #header #main-navigation ul ul.sub-menu > li:last-child
            {
                border-bottom: none;
            }
                #header #main-navigation ul ul.sub-menu > li > a
                {
                    font-size: 0.8rem;
                    color: #000;
                }

        #header #main-navigation #burger-nav,
        #header #main-navigation #mobile-nav
        {
            display: none;
            @media @tablets-portrait
            { 
                display: block; 
            }
            @media @smartphones
            {
                display: block;
            }
        }
        
        #header #main-navigation #burger-nav
        {
            text-align: right;
            padding: 10px 10px;
        }
            #header #main-navigation #burger-nav i.fa
            {
                color: #FFF;
                font-size: 2rem;
                cursor: pointer;
            }
            
        #mobile-nav
        {
            top: 0;
            left: 0;
            display: none;
            width: 100%;
            position: absolute;
            background-color: #dfdfdf;
            z-index: 4000;
            overflow: hidden;
            margin-top: -50px;
            //.mixin-background-color-opacity(76,93,121,1);
        }
            #mobile-nav ul#menu-main_navigation,
            #mobile-nav ul#menu-main_navigation li.menu-item
            {
                width: 100%;
                display: block;
            }
                #mobile-nav ul#menu-main_navigation li.menu-item
                {
                    border: none;              
                    position: relative;
                    border-bottom: 1px solid rgba(100, 100, 100, 0.7);
                }
                #mobile-nav ul#menu-main_navigation li.menu-item.current-menu-item,
                #mobile-nav ul#menu-main_navigation li.menu-item.current-menu-parent
                {
                    background-color: @yellow;
                }
                    #mobile-nav ul#menu-main_navigation li.menu-item a
                    {
                        color: #333;
                        display: block;
                        width: 100%;
                        padding: 15px 20px !important;
                        text-decoration: none;
                        font-size: 1.5rem;
                        @media @smartphones
                        {
                            padding: 5px 20px !important;
                        }
                    }
                    
                #mobile-nav ul#menu-main_navigation li.menu-item ul.sub-menu
                {
                    top: 0;
                    left: 0;
                    position: relative;
                    background-color: #efefef;
                    width: 100%;
                }
                    #mobile-nav ul#menu-main_navigation li.menu-item ul.sub-menu li
                    {
                        border-bottom: 1px solid #aaa;
                    }
                    #mobile-nav ul#menu-main_navigation li.menu-item ul.sub-menu li:last-child
                    {
                        border-bottom: none;
                    }
                    #mobile-nav ul#menu-main_navigation li.menu-item ul.sub-menu li.current-menu-item
                    {
                        background-color: #afafaf;
                    }
                    #mobile-nav ul#menu-main_navigation li.menu-item ul.sub-menu li a
                    {
                        color: #000;
                        font-size: 1rem;
                        padding-left: 60px;
                        display: block;
                    }