html,
html body
{
  width: 100%;
  height: 100%;
  color: @grey-txt;
  font-family: @font-family;
  font-size: @font-size;
  font-weight: 400;
}

.base-template .wrapper
{
  width: 80%;
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

/*  HEADER */
.base-template header
{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  @media @smartphones, @device-smartphones
  {
    background-position: center center;
  }
}
.base-template header a#logo
{
  display: block;
  position: relative;
  background-color: #fff;
  width: 35%;
  z-index: 10;
  text-align: right;
  padding: 2rem 2rem 2rem 0;
  @media @device-tablets, @smartphones, @device-smartphones
  {
    width: 100%;
    padding: 2rem 0;
    .mixin-background-color-opacity(255,255,255,0.8)
  }
}
.base-template header a#logo:after
{
  top: 0;
  left: -5%;
  z-index: 0;
  content: '';
  height: 100%;
  width: 110%;
  position: absolute;
  transform: skewX(-15deg);
  background-color: #fff;
  @media @device-tablets, @smartphones, @device-smartphones
  {
    display: none;
  }
}
.base-template header a#logo img
{
  width: 60%;
  z-index: 100;
  position: relative;
  @media @device-tablets, @smartphones, @device-smartphones
  {
    width: 40%;
    display: block;
    margin: 0 auto;
  }
}
.base-template header nav
{
  width: 100%;
  position: relative;
  display: block;
  background-color: @green-light;
}
.base-template header nav ul:after
{
  content: '';
  display: block;
  clear: both;
}
.base-template header nav > ul
{
  width: 100%;
  list-style: none;
  display: block;
  @media @smartphones, @tablets-portrait
  {
    display: none;
    position: absolute;
    list-style: none;
    .mixin-background-color-opacity(255,255,255,1);
    border: 1px solid @grey-light;
    border-top: none;
    margin: 0 auto;
    z-index: 100;
    top: 100%;
    left: 7.3%;
  }
}
.base-template nav > ul > li
{
  float: left;
  position: relative;
  @media @smartphones, @tablets-portrait
  {
    float: none;
    margin-right: 0rem;
    border-bottom: 1px solid @grey-light;
  }
}
.base-template nav > ul > li.active:after
{
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  bottom: 0;
  content: "";
  left: 41%;
  position: absolute;
}
.base-template nav > ul > li > a
{
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-left: 1px solid @white-opacity;
  padding: 5px 10px;
}
.base-template nav ul li:first-child a
{
  border-left: none;
}
.base-template nav ul li a:hover
{
  background-color: rgba(0,0,0,0.1);
  text-decoration: none;
}
.base-template nav > ul > li > ul
{
  top: 98%;
  left: 0;
  border: none;
  display: none;
  position: absolute;
  list-style: none;
  z-index: 100;
}
.base-template nav > ul > li:hover > ul
{
  display: block;
}
.base-template nav > ul > li > ul > li
{
  display: block;
}
.base-template nav > ul > li > ul > li:hover
{
  background-color: transparent;
}
.base-template nav > ul > li > ul > li > a,
.base-template nav > ul > li > ul > li > a:hover
{
  color: @grey-txt;
  width: 100%;
  border-left: 1px solid lighten(@grey-txt, 30%) !important;
  border-right: 1px solid lighten(@grey-txt, 30%) !important;
  padding: 0.5rem 2rem;
  text-align: center;
  display: block;
  background-color: #fff;
  text-decoration: none;
}
.base-template nav > ul > li > ul > li:first-child > a
{
  border-top: 1px solid lighten(@grey-txt, 30%);
}
.base-template nav > ul > li > ul > li > a:last-child
{
  border-bottom: 1px solid lighten(@grey-txt, 30%);
}
.base-template nav > ul > li > ul > li > a:hover
{
  background-color: #efefef;
}


@media @smartphones, @tablets-portrait
{
  .base-template nav.minified:after
  {
    color: @green-dark;
    font-family: FontAwesome;
    content: "\f0c9";
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  .base-template nav ul li:last-child
  {
    border-bottom: none;
  }
  .base-template nav.minified ul li a
  {
    display: block;
    width: 100%;
    color: @grey-txt;
    line-height: 3rem;
    text-align: center;
  }
  .base-template nav ul li a:hover
  {
    text-decoration: none;
  }
  .base-template nav > ul > li > ul
  {
    border: none;
    border-top: 1px dotted lighten(@grey-txt, 30%);
    display: none;
    position: inherit;
    list-style: none;
    z-index: 100;
    width: 100%;
  }
  .base-template nav > ul > li:hover > ul
  {
    display: block;
  }
  .base-template nav > ul > li > ul > li
  {
    border: none
  }
}



/*  CONTENT */
.base-template main
{
  padding: 5rem 0;
}
.rotate-building
{
  display: none;
}

/*  FOOTER */
.base-template footer
{
  width: 100%;
  color: #fff;
  background-color: @green-dark;
}
.base-template footer a
{
  color: #fff;
  overflow: hidden;
  text-decoration: none;
}
.base-template footer > .wrapper
{
  //display: flex !important;
  position: relative;
  padding: 2rem 0;
}
.base-template footer > .wrapper > section
{
  flex: auto;
  display: block;
}
.base-template footer > .wrapper > section#meo-block
{
  @media @smartphones, @device-smartphones
  {
    display: none;
  }

}
.base-template footer > .wrapper > section#meo-block > span
{
  display: block;
  font-size: 0.8rem;
  @media @smartphones, @device-smartphones
  {
    width: 100%;
  }
}
.base-template footer > .wrapper > section#compagny
{
  top: 1.3rem;
  right: 0;
  position: absolute;
  @media @smartphones, @device-smartphones
  {
    display: block;
    position: inherit;
  }
}
.base-template footer > .wrapper > section#compagny:after
{
  content: "";
  height: calc(200%);
  position: absolute;
  right: 110%;
  top: -2rem;
  transform: skewX(-15deg);
  width: 200%;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ccffffff',GradientType=1 );
  @media @smartphones, @device-smartphones
  {
    display: none;
  }
}
.base-template footer > .wrapper > section#compagny >img
{
  display: inline-block;
  height: 40px;
  max-width: 100px;
  width: 100px;
  margin-right: 20px;
}
.base-template footer > .wrapper > section#compagny >span
{
  line-height: 0.9rem;
  display: inline-block;
}