/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    Created on : 11 oct. 2016, 15:57:43
    Author     : MEO
*/
section.smartcapture
{
    width: 100%;
    margin-bottom: 30px;
    
}
section.smartcapture div#logoSmartCapture
{
    display: block;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #aaa;
    @media @smartphones
    {
        padding-top: 20px;
    }
}
section.smartcapture div#logoSmartCapture img
{
    display: block;
    width: 60%;
    max-width: 60%;
    margin: 0 auto;
}
.wpcf7-response-output.wpcf7-validation-errors,
span.wpcf7-not-valid-tip
{
    color: red;   
}
.wpcf7-response-output.wpcf7-mail-sent-ok
{
    color: #889425;
    text-align: center;
    font-weight: bold;
}
.wpcf7 .screen-reader-response
{
    display: none;
}
form.wpcf7-form img.ajax-loader
{
    display: none !important;
}
form.wpcf7-form
{
    width: 100%;
    
}
.wpcf7-form input,
.wpcf7-form select
{
    width: 94%;
    padding: 10px 3%;
    border: 1px solid #efefef;
    background: transparent;
    outline: none;    
    -webkit-appearance: none;
    -moz-appearance: none;
    .mixin-border-radius(0,0,0,0)
}

#smartcapture-form  .wpcf7-form select
{
    width: 100%;
    margin-top: 5px;
}

#smartcapture-form .wpcf7-form,
#smartcapture-form .wpcf7-form p,
#smartcapture-form .wpcf7-form p input
{
    max-width: 100%; 
    max-width: 350px;
}

#smartcapture-form .wpcf7-form p
{
    margin-bottom: 10px;
}

#smartcapture-form .wpcf7-form p:last-child
{
    margin-bottom: 0;
}

#smartcapture-form
{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

#smartcapture-form input.wpcf7-form-control.wpcf7-submit.submit-smart-capture,
#smartcapture-form #previous-page-button
{
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    width: 100%;
    background-color: @green-dark;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
}

#smartcapture-form #previous-page-button
{
    color: #000;
    display: block;
    padding: 10px 0;
    text-align: center;
    background-color: #efefef;
    text-decoration: none;
}
