/* SLIDER */
body.homepage
{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-size: cover;
}
#slider
{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
  #slider .slide
  {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center center;
    background-size: cover;
    display: block;
  }

/* CONTENT */
#home
{
  top: 20%;
  position: absolute;
  width: 100%;
  display: flex;
  @media @smartphones
  {
    top: 0;
    flex-flow: row wrap;
  }
}
  #home > div
  {
    flex: auto;
    padding: 1rem 0rem 0rem;
  }
    #home > div:first-child
    {
      width: 55%;
      max-width: 55%;
      position: relative;
      text-align: right;
      padding-bottom: 2rem;
      @media @smartphones, @device-smartphones
      {
        width: 100%;
        max-width: 100%;
        padding-bottom: 0rem;
        text-align: center;
        background-color: rgba(255,255,255,0.8);
      }
    }
  #home > div:first-child:after
  {
    top: 0;
    right: -5%;
    z-index: 0;
    content: '';
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: absolute;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 36%, rgba(255,255,255,0.8) 61%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 36%,rgba(255,255,255,0.8) 61%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 36%,rgba(255,255,255,0.8) 61%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    @media screen and (max-width: 1300px)
    {
      background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 29%, rgba(255,255,255,0.8) 47%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 29%,rgba(255,255,255,0.8) 47%,rgba(255,255,255,1) 100%);
      background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 29%,rgba(255,255,255,0.8) 47%,rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    }
    @media @device-tablets, screen and (max-width: 1225px)
    {
      background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 12%, rgba(255,255,255,0.8) 29%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 12%,rgba(255,255,255,0.8) 29%,rgba(255,255,255,1) 100%);
      background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 12%,rgba(255,255,255,0.8) 29%,rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    }
    @media @smartphones, @device-smartphones
    {
      display: none;
    }
  }
    #home > div:last-child
    {
      width: 45%;
      padding-left: 3rem;
      max-width: 45%;
      position: relative;
      text-align: left;
      @media @smartphones, @device-smartphones
      {
        width: 100%;
        max-width: 100%;
        height: 100%;
        padding: 0;
      }
    }
    #home > div:last-child:after
    {
      top: 0;
      left: 0;
      content: '';
      height: calc(100% + 0px);
      width: 120%;
      max-width: 120%;
      position: absolute;
      background-color: @green-light;
      transform: skewX(-15deg);
      @media @smartphones
      {
        width: 100%;
        transform: none;
      }
    }
    #home > div:last-child > section
    {
      top: 10%;
      width: 100%;
      position: absolute;
      z-index: 1;
      @media @smartphones, @device-smartphones
      {
        background-color: @green-light;
      }
    }
      #home > div:first-child > img
      {
        position: relative;
        right: 2rem;
        width: 40%;
        z-index: 1;
        @media screen and (max-width: 1625px)
        {
          width: 50%;
        }
        @media screen and (max-width: 1225px)
        {
          width: 55%;
        }
        @media @device-tablets
        {
          width: 65%;
        }
        @media @smartphones, @device-smartphones
        {
          width: 80%;
          right: 0rem;
          display: block;
          margin: 0 auto;
      }
      }
      #home > div > section > h1
      {
        display: block;
        max-width: 100%;
        color: @green-dark;
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 300;
        @media screen and (max-width: 1625px)
        {
          font-size: 3rem;
          line-height: 3rem;
        }
        @media screen and (max-width: 1225px)
        {
          font-size: 2rem;
          line-height: 2rem;
        }
        @media @smartphones
        {
          display: none;
          width: 100%;
          font-size: 2rem;
          text-align: center;
        }
      }
  #home nav
  {
    width: 100%;
    margin-top: 1rem;
    @media @smartphones
    {
      width: 80%;
      margin: 0 auto;
    }
  }
  #home nav:before
  {
    left: 0;
    content: '';
    position: absolute;
    background-color: @white-opacity;
    display: block;
    width: 120%;
    height: 1px;
    @media @smartphones
    {
      display: none;
    }
  }
    #home nav ul
    {
      width: 100%;
      list-style: none;
      display: block;
      line-height: 1rem;
    }
      #home nav ul li
      {
        float: left;
        margin-right: 2rem;
        @media screen and (max-width: 1275px)
        {
          margin-right: 1rem;
        }
      }
        #home nav ul li a
        {
          color: #fff;
          line-height: 2rem;
          text-decoration: none;
        }
        #home nav ul li a:hover
        {
          text-decoration: underline;
        }

  #home nav.minified:after
  {
    color: @green-dark;
    font-family: FontAwesome;
    content: "\f0c9";
    font-size: 1.5rem;
    cursor: pointer;
  }
    #home nav.minified ul
    {
      display: none;
      width: 80%;
      list-style: none;
      line-height: 1rem;
      .mixin-background-color-opacity(255,255,255,0.8);
      border: 1px solid @grey-light;
      border-top: none;
      position: absolute;
      top: 100%;
    }
      #home nav.minified ul li
      {
        float: none;
        margin-right: 0rem;
        border-bottom: 1px solid @grey-light;
      }
      #home nav.minified ul li:last-child
      {
        border-bottom: none;
      }
        #home nav.minified ul li a
        {
          display: block;
          width: 100%;
          color: @grey-txt;
          line-height: 3rem;
          text-align: center;
        }
        #home nav.minified ul li a:hover
        {
          text-decoration: none;
        }