@grey: #4f4e57;
@brown: #8F776A;
@blue: #66AEF3;
@light-blue: #BFE3E9;
@light-brown: #F4E9DF;
@yellow: @grey;
@green: @light-brown;
@footer-color: @grey;

/* COLOR SETTINGS */
@green-dark: #1e6b3b;
@green-light: #83c452;
@grey-light: #878787;
@grey-txt: #554e4e;
@white-opacity: rgba(255,255,255,0.5);


/* FONT SETTINGS */
@font-family: 'Catamaran', sans-serif;
@font-size: 16px;

@media only screen and (min-width : 737px) and (max-width : 1024px)
{
  @font-size: 14px;
}
@media @device-tablets
{
  @font-size: 14px;
}
@media only screen and (min-device-width: 320px) and (max-device-height: 736px)
{
  @font-size: 12px;
}
@media @device-smartphones
{
  @font-size: 12px;
}
