@import 'fonts/Catamaran/Catamaran.css';
/*
 * Theme Name: Résidence Marina - Orllati
 * Description: Starter Theme to use with Timber
 * Author: MEO Design & Communication
 */
/* IMPORT FONT */
/* IMPORT MEDIA QUERY */
/*
    
    *** MEDIA QUERIES LESS *** 
    
    Path: theme/less/utility/media-queries-responsive.less 
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/
/* tablette */
/* mobile */
/* mobile landscale */
/*
    
    *** MEDIA QUERIES LESS *** 
    
    Path: theme/less/utility/media-queries-responsive.less 
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/
/*  */
/* IMPORT MEO UTILITY */
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html {
  margin-top: 0 !important;
}
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  text-shadow: none;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
/*
    
    *** FUNCTION LESS *** 
    
    Path: theme/less/utility/functions.less 
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/
/* Reset Element */
/* Full Screen Element */
/* Create Base Style Title */
/* Vertical Align Element */
/* Vertical Align Element */
/* Create Box Shadow */
/* Create Text Shadow */
/* Create Background Color With Opacity */
/* Gradiant background */
/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    Created on : 3 oct. 2016, 09:41:12
    Author     : MEO
*/
.wrapper {
  width: 85% !important;
  margin: 0 auto;
  max-width: 1200px !important;
}
.pr10px {
  padding-right: 10px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .pr10px {
    padding-right: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .pr10px {
    padding-right: 0;
  }
}
.pl10px {
  padding-left: 10px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .pl10px {
    padding-left: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .pl10px {
    padding-left: 0;
  }
}
.pr14px {
  padding-right: 14px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .pr14px {
    padding-right: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .pr14px {
    padding-right: 0;
  }
}
.pl14px {
  padding-left: 14px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .pl14px {
    padding-left: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .pl14px {
    padding-left: 0;
  }
}
.pr15px {
  padding-right: 15px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .pr15px {
    padding-right: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .pr15px {
    padding-right: 0;
  }
}
.pl15px {
  padding-left: 15px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .pl15px {
    padding-left: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .pl15px {
    padding-left: 0;
  }
}
.pr30px {
  padding-right: 30px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .pr30px {
    padding-right: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .pr30px {
    padding-right: 0;
  }
}
.pl30px {
  padding-left: 30px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .pl30px {
    padding-left: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .pl30px {
    padding-left: 0;
  }
}
.mr10px {
  margin-right: 10px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .mr10px {
    margin-right: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .mr10px {
    margin-right: 0;
  }
}
.ml10px {
  margin-left: 10px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .ml10px {
    margin-left: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .ml10px {
    margin-left: 0;
  }
}
#main-content .view-switcher {
  position: relative;
  display: block;
  width: 20%;
  padding-bottom: 50px;
}
#main-content .building-content .view-switcher {
  width: 100%;
}
#main-content .view-switcher.list-lot-page {
  top: 0;
  right: 12px;
  position: absolute;
}
#main-content .view-switcher a.btn-siwtch-view-immo {
  top: 0;
  right: 0;
  color: #554f4f;
  display: block;
  padding: 10px;
  position: absolute;
}
#main-content .view-switcher a.btn-siwtch-view-immo .fa {
  color: #554f4f;
  font-size: 1.5rem;
}
#main-content .view-switcher a.btn-siwtch-view-immo img {
  width: 1.5rem;
  height: 1.5rem;
}
#main-content .view-switcher a.btn-siwtch-view-immo:hover .fa {
  color: #83c452;
}
.btn-download {
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  max-width: 300px;
  width: auto;
  min-width: 180px;
  height: 60px;
  background-color: #9ed178;
  overflow: hidden;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
@tablets-portrait {
  max-width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .btn-download {
    max-width: 100%;
  }
}
.page-list-price .btn-download {
  width: 250px;
}
@tablets-portrait {
  width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .page-list-price .btn-download {
    width: 100%;
  }
}
.btn-download .btn-intern-icon {
  width: 70px;
  height: 60px;
  text-align: center;
  display: inline-block;
  background-color: #83c452;
}
.btn-download .btn-intern-icon:after {
  position: absolute;
  top: 0;
  left: 70px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 30px 9px;
  border-color: transparent transparent transparent #83c452;
}
.btn-download:hover {
  background-color: #83c452;
}
.btn-download:hover .btn-intern-icon {
  background-color: #9ed178;
}
.btn-download:hover .btn-intern-icon:after {
  border-color: transparent transparent transparent #9ed178;
}
.btn-download .btn-intern-icon i.fa {
  color: #fff;
  font-size: 2.4rem;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.btn-download p {
  top: 50%;
  right: 0px;
  position: absolute;
  display: block;
  width: calc(75%);
  color: #fff;
  line-height: 1.2rem;
  text-align: center;
  transform: translateY(-50%);
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .btn-download p {
    width: 82%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .btn-download p {
    width: 82%;
  }
}
.btn-download p span {
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 1.5rem;
}
.btn-download p span strong.price_list_download_txt {
  display: block;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .btn-download p span strong.price_list_download_txt {
    display: inline;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .btn-download p span strong.price_list_download_txt {
    display: inline;
  }
}
.btn-download p span strong {
  text-transform: uppercase;
}
.fancybox-inner {
  overflow: hidden !important;
}
/*
    
    *** UTILITY COL LESS *** 
    
    Path: theme/less/utility/col-manager.less 
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/
/* WRAPPER TABLE CONTENT */
div.wrap-content-full-width-table {
  width: 100%;
  display: table;
}
div.wrap-content-table {
  display: table;
  position: relative;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  div.wrap-content-table {
    width: 100% !important;
  }
}
/* WRAPPER FLEX CONTENT */
div.wrap-content-full-width {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
div.wrap-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  div.wrap-content {
    width: 100%;
  }
}
.wrap-content-90 {
  width: 90%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-90 {
    width: 100%;
  }
}
.wrap-content-80 {
  width: 80%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-80 {
    width: 100%;
  }
}
.wrap-content-35-center {
  width: 35% !important;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-35-center {
    width: 100%;
  }
}
.wrap-content-40-center {
  width: 40% !important;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-40-center {
    width: 100%;
  }
}
.wrap-content-60-center {
  width: 60% !important;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-60-center {
    width: 100%;
  }
}
.wrap-content-80-center {
  width: 80% !important;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-80-center {
    width: 100%;
  }
}
.wrap-content-85-center {
  width: 85% !important;
  margin: 0 auto;
  max-width: 1140px !important;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-85-center {
    width: 100%;
  }
}
.wrap-content-90-center {
  width: 90% !important;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-90-center {
    width: 100%;
  }
}
.wrap-content-95-center {
  width: 95% !important;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-95-center {
    width: 100%;
  }
}
.wrap-content-97-center {
  width: 97% !important;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-97-center {
    width: 100%;
  }
}
.wrap-content-98-center {
  display: flex;
  width: 98% !important;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-98-center {
    width: 100%;
  }
}
.wrap-content-99-center {
  width: 99% !important;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .wrap-content-99-center {
    width: 100%;
  }
}
/* COL FLEX CONTENT */
.col-100 {
  width: 100%;
}
.col-73 {
  width: 73%;
}
.col-70 {
  width: 70%;
}
.col-67 {
  width: 67%;
}
.col-66 {
  width: 66%;
}
.col-65 {
  width: 66%;
}
.col-62 {
  width: 62%;
}
.col-60 {
  width: 60%;
}
.col-50 {
  width: 50%;
}
.col-45 {
  width: 45%;
}
.col-40 {
  width: 40%;
}
.col-38 {
  width: 38%;
}
.col-33 {
  width: 33%;
}
.col-32 {
  width: 32%;
}
.col-31 {
  width: 31%;
}
.col-29 {
  width: 29%;
}
.col-25 {
  width: 25%;
}
.col-20 {
  width: 20%;
}
.flex-col {
  margin: 0;
  padding: 0;
  flex: auto;
  position: relative;
  margin-bottom: 5px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .flex-col {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .flex-col {
    width: 100%;
    margin-bottom: 20px;
  }
}
.flex-col-not-responsive {
  margin: 0;
  padding: 0;
  flex: auto;
  position: relative;
  margin-bottom: 5px;
  /*@media @smartphones
    {
        width: 100%;
        margin-bottom: 20px;
    }*/
}
/* COL CELL CONTENT */
.cell-col {
  display: table-cell;
  position: relative;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  .cell-col {
    width: 100%;
    display: table-row;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .cell-col {
    width: 100%;
    display: table-row;
  }
}
/* IMPORT LESS DESIGN */
/* COLOR SETTINGS */
/* FONT SETTINGS */
html,
html body {
  width: 100%;
  height: 100%;
  color: #554e4e;
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.base-template .wrapper {
  width: 80%;
  max-width: 80%;
  display: block;
  margin: 0 auto;
}
/*  HEADER */
.base-template header {
  width: 100%;
  background-size: cover;
  background-position: center -800px;
}
@media only screen and (min-width: 320px) and (max-width: 736px), only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  .base-template header {
    background-position: center center;
  }
}
.base-template header a#logo {
  display: block;
  position: relative;
  background-color: #fff;
  width: 35%;
  z-index: 10;
  text-align: right;
  padding: 2rem 2rem 2rem 0;
}
@media only screen and (min-device-width : 737px) and (max-device-width : 1024px), only screen and (min-width: 320px) and (max-width: 736px), only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  .base-template header a#logo {
    width: 100%;
    padding: 2rem 0;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
.base-template header a#logo:after {
  top: 0;
  left: -5%;
  z-index: 0;
  content: '';
  height: 100%;
  width: 110%;
  position: absolute;
  transform: skewX(-15deg);
  background-color: #fff;
}
@media only screen and (min-device-width : 737px) and (max-device-width : 1024px), only screen and (min-width: 320px) and (max-width: 736px), only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  .base-template header a#logo:after {
    display: none;
  }
}
.base-template header a#logo img {
  width: 60%;
  z-index: 100;
  position: relative;
}
@media only screen and (min-device-width : 737px) and (max-device-width : 1024px), only screen and (min-width: 320px) and (max-width: 736px), only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  .base-template header a#logo img {
    width: 40%;
    display: block;
    margin: 0 auto;
  }
}
.base-template header nav {
  width: 100%;
  display: block;
  background-color: #83c452;
}
.base-template header nav ul:after {
  content: '';
  display: block;
  clear: both;
}
.base-template header nav > ul {
  width: 100%;
  list-style: none;
  display: block;
}
.base-template nav > ul > li {
  float: left;
  position: relative;
}
.base-template nav > ul > li.active:after {
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  bottom: 0;
  content: "";
  left: 41%;
  position: absolute;
}
.base-template nav > ul > li > a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
}
.base-template nav > ul > li > ul {
  top: 99%;
  left: 0;
  border: 1px solid red;
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}
.base-template nav > ul > li:hover > ul {
  display: block;
}
.base-template nav ul li:first-child a {
  border-left: none;
}
.base-template nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.base-template nav.minified:after {
  color: #1e6b3b;
  font-family: FontAwesome;
  content: "\f0c9";
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 80%;
}
.base-template nav.minified ul {
  display: none;
  width: 80%;
  list-style: none;
  line-height: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #878787;
  border-top: none;
  position: absolute;
  top: 100%;
}
.base-template nav.minified ul li {
  float: none;
  margin-right: 0rem;
  border-bottom: 1px solid #878787;
}
.base-template nav.minified ul li:last-child {
  border-bottom: none;
}
.base-template nav.minified ul li a {
  display: block;
  width: 100%;
  color: #554e4e;
  line-height: 3rem;
  text-align: center;
}
.base-template nav.minified ul li a:hover {
  text-decoration: none;
}
/*  CONTENT */
.base-template main {
  padding: 5rem 0;
}
/*  FOOTER */
.base-template footer {
  width: 100%;
  color: #fff;
  background-color: #1e6b3b;
}
.base-template footer a {
  color: #fff;
  overflow: hidden;
  text-decoration: none;
}
.base-template footer > .wrapper {
  position: relative;
  padding: 2rem 0;
}
.base-template footer > .wrapper > section {
  flex: auto;
  display: block;
}
@media only screen and (min-width: 320px) and (max-width: 736px), only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  .base-template footer > .wrapper > section#meo-block {
    display: none;
  }
}
.base-template footer > .wrapper > section#meo-block > span {
  display: block;
  font-size: 0.8rem;
}
@media only screen and (min-width: 320px) and (max-width: 736px), only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  .base-template footer > .wrapper > section#meo-block > span {
    width: 100%;
  }
}
.base-template footer > .wrapper > section#compagny {
  top: 1.3rem;
  right: 0;
  position: absolute;
}
@media only screen and (min-width: 320px) and (max-width: 736px), only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  .base-template footer > .wrapper > section#compagny {
    display: block;
    position: inherit;
  }
}
.base-template footer > .wrapper > section#compagny:after {
  content: "";
  height: calc(200%);
  position: absolute;
  right: 110%;
  top: -2rem;
  transform: skewX(-15deg);
  width: 200%;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ccffffff', GradientType=1);
}
@media only screen and (min-width: 320px) and (max-width: 736px), only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  .base-template footer > .wrapper > section#compagny:after {
    display: none;
  }
}
.base-template footer > .wrapper > section#compagny > img {
  display: inline-block;
  height: 40px;
  max-width: 100px;
  width: 100px;
  margin-right: 20px;
}
.base-template footer > .wrapper > section#compagny > span {
  line-height: 0.9rem;
  display: inline-block;
}
.wrapper h1 {
  color: #1e6b3b;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.wrapper h2 {
  color: #1e6b3b;
  font-size: 24px;
  font-weight: normal;
}
/* SLIDER */
body.homepage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-size: cover;
}
#slider {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
#slider .slide {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
  display: block;
}
/* CONTENT */
#home {
  top: 20%;
  position: absolute;
  width: 100%;
  display: flex;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #home {
    top: 0;
    flex-flow: row wrap;
  }
}
#home > div {
  flex: auto;
  padding: 1rem 0rem 0rem;
}
#home > div:first-child {
  width: 55%;
  max-width: 55%;
  position: relative;
  text-align: right;
  padding-bottom: 2rem;
}
@media only screen and (min-width: 320px) and (max-width: 736px), only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  #home > div:first-child {
    width: 100%;
    max-width: 100%;
    padding-bottom: 0rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
#home > div:first-child:after {
  top: 0;
  right: -5%;
  z-index: 0;
  content: '';
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: absolute;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0.8) 61%, #ffffff 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0.8) 61%, #ffffff 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0.8) 61%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
}
@media screen and (max-width: 1300px) {
  #home > div:first-child:after {
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 29%, rgba(255, 255, 255, 0.8) 47%, #ffffff 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 29%, rgba(255, 255, 255, 0.8) 47%, #ffffff 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 29%, rgba(255, 255, 255, 0.8) 47%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
  }
}
@media only screen and (min-device-width : 737px) and (max-device-width : 1024px), screen and (max-width: 1225px) {
  #home > div:first-child:after {
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 12%, rgba(255, 255, 255, 0.8) 29%, #ffffff 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 12%, rgba(255, 255, 255, 0.8) 29%, #ffffff 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 12%, rgba(255, 255, 255, 0.8) 29%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px), only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  #home > div:first-child:after {
    display: none;
  }
}
#home > div:last-child {
  width: 45%;
  padding-left: 3rem;
  max-width: 45%;
  position: relative;
  text-align: left;
}
@media only screen and (min-width: 320px) and (max-width: 736px), only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  #home > div:last-child {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
  }
}
#home > div:last-child:after {
  top: 0;
  left: 0;
  content: '';
  height: calc(100%);
  width: 120%;
  max-width: 120%;
  position: absolute;
  background-color: #83c452;
  transform: skewX(-15deg);
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #home > div:last-child:after {
    width: 100%;
    transform: none;
  }
}
#home > div:last-child > section {
  top: 10%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
@media only screen and (min-width: 320px) and (max-width: 736px), only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  #home > div:last-child > section {
    background-color: #83c452;
  }
}
#home > div:first-child > img {
  position: relative;
  right: 2rem;
  width: 40%;
  z-index: 1;
}
@media screen and (max-width: 1625px) {
  #home > div:first-child > img {
    width: 50%;
  }
}
@media screen and (max-width: 1225px) {
  #home > div:first-child > img {
    width: 55%;
  }
}
@media only screen and (min-device-width : 737px) and (max-device-width : 1024px) {
  #home > div:first-child > img {
    width: 65%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px), only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  #home > div:first-child > img {
    width: 80%;
    right: 0rem;
    display: block;
    margin: 0 auto;
  }
}
#home > div > section > h1 {
  display: block;
  max-width: 100%;
  color: #1e6b3b;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 300;
}
@media screen and (max-width: 1625px) {
  #home > div > section > h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
}
@media screen and (max-width: 1225px) {
  #home > div > section > h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #home > div > section > h1 {
    display: none;
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
}
#home nav {
  width: 100%;
  margin-top: 1rem;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #home nav {
    width: 80%;
    margin: 0 auto;
  }
}
#home nav:before {
  left: 0;
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  width: 120%;
  height: 1px;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #home nav:before {
    display: none;
  }
}
#home nav ul {
  width: 100%;
  list-style: none;
  display: block;
  line-height: 1rem;
}
#home nav ul li {
  float: left;
  margin-right: 2rem;
}
@media screen and (max-width: 1275px) {
  #home nav ul li {
    margin-right: 1rem;
  }
}
#home nav ul li a {
  color: #fff;
  line-height: 2rem;
  text-decoration: none;
}
#home nav ul li a:hover {
  text-decoration: underline;
}
#home nav.minified:after {
  color: #1e6b3b;
  font-family: FontAwesome;
  content: "\f0c9";
  font-size: 1.5rem;
  cursor: pointer;
}
#home nav.minified ul {
  display: none;
  width: 80%;
  list-style: none;
  line-height: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #878787;
  border-top: none;
  position: absolute;
  top: 100%;
}
#home nav.minified ul li {
  float: none;
  margin-right: 0rem;
  border-bottom: 1px solid #878787;
}
#home nav.minified ul li:last-child {
  border-bottom: none;
}
#home nav.minified ul li a {
  display: block;
  width: 100%;
  color: #554e4e;
  line-height: 3rem;
  text-align: center;
}
#home nav.minified ul li a:hover {
  text-decoration: none;
}
/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.

    Created on : 3 oct. 2016, 15:24:15
    Author     : MEO
*/
#main-content {
  padding: 50px 0;
  width: 100%;
  max-width: 100%;
  position: relative;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #main-content {
    margin: 50px 0 !important;
  }
}
#main-content img,
#main-content .flex-col img {
  width: 100%;
}
/*
 *    PAGE CONCEPT
 */
#main-content .page-concept h1 {
  padding: 0 10px;
}
#main-content .page-concept .wrap-content-full-width-table .col-67,
#main-content .page-concept .wrap-content-full-width-table .col-66,
#main-content .page-concept .wrap-content-full-width-table .col-33,
#main-content .page-concept .wrap-content-full-width-table .col-32 {
  padding: 20px;
}
#main-content .page-concept .wrap-content-full-width-table {
  border-collapse: separate;
  border-spacing: 10px 5px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #main-content .page-concept .wrap-content-full-width-table {
    border-spacing: 0px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #main-content .page-concept .wrap-content-full-width-table {
    border-spacing: 0px;
  }
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #main-content .page-concept .wrap-content-full-width-table .cell-col {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #main-content .page-concept .wrap-content-full-width-table .cell-col {
    margin-bottom: 100px;
  }
}
#main-content .page-concept .wrap-content-full-width-table .cell-col img,
#main-content .page-concept .wrap-content-full-width-table .cell-col h2,
#main-content .page-concept .wrap-content-full-width-table .cell-col p {
  width: 100%;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2 {
  display: block;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #main-content .page-concept .wrap-content-full-width-table .cell-col h2 {
    padding-top: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #main-content .page-concept .wrap-content-full-width-table .cell-col h2 {
    padding-top: 20px;
  }
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2:after {
  content: ' ';
  width: 140px;
  display: block;
  height: 2px;
  margin-top: 5px;
  margin-bottom: 35px;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2.yellow {
  color: #4f4e57;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2.yellow:after {
  background-color: #4f4e57;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2.blue {
  color: #66aef3;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2.blue:after {
  background-color: #66aef3;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2.green {
  color: #f4e9df;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2.green:after {
  background-color: #f4e9df;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col img {
  margin-bottom: 35px;
}
/*
 *    PAGE SITUATION
 */
#main-content .page-situation {
  padding: 0 10px;
}
#main-content .page-situation > div > img {
  margin-bottom: 30px;
}
#main-content .btn-bloc-situation {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
a.btn-desktop {
  display: block;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  a.btn-desktop {
    display: none;
  }
}
a.btn-mobile {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  a.btn-mobile {
    display: block;
  }
}
#main-content .btn-blue {
  width: 20%;
  flex: 0 auto;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0 35px 0;
  background-color: #83c452;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait) {
  #main-content .btn-blue {
    width: 100%;
    padding: 10px 0 !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #main-content .btn-blue {
    width: 100%;
    padding: 10px 0 !important;
  }
}
#main-content .btn-blue:hover {
  background-color: #4f4e57;
}
/*
 *    PAGE GALERIE
 */
#main-content .page-galerie {
  padding: 0 10px;
}
/*
 *    PAGE LISTE PRIX
 */
#main-content .page-list-price {
  padding: 0 10px;
}
/*
 *    PAGE CONTACT
 */
#main-content .page-contact {
  padding: 0 10px;
}
#main-content .page-contact h1,
#main-content .page-contact h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #efefef;
}
#main-content .page-contact h2.left-title {
  width: 98%;
}
#main-content .page-contact h2.right-title {
  width: 98%;
  margin-left: 10px;
}
#main-content .page-contact .col-100 {
  margin-bottom: 50px;
}
#main-content .page-contact p.information {
  padding-left: 10px;
}
#main-content .page-contact p span {
  font-weight: bold;
  text-transform: uppercase;
}
#main-content .page-contact legend {
  font-size: 0.7rem;
}
#main-content .page-contact iframe {
  width: 100%;
}
#main-content .page-contact form.wpcf7-form input,
#main-content .page-contact form.wpcf7-form textarea {
  width: 96%;
  padding: 10px 2%;
  margin-bottom: 10px;
  border: 1px solid #efefef !important;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
#main-content .page-contact #immoval {
  width: auto !important;
  max-height: 150px !important;
  margin: 50px 0 20px 0;
}
#main-content .page-contact form.wpcf7-form textarea {
  height: 207px;
}
#main-content .page-contact form.wpcf7-form input.wpcf7-form-control.wpcf7-submit {
  width: 20%;
  min-width: 100px;
  float: right;
  background-color: #83c452;
  border: none;
  color: #fff;
}
