@font-face {
  font-family: 'Catamaran';
  src: url(Catamaran-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: 'Catamaran';
  src: url(Catamaran-Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Catamaran';
  src: url(Catamaran-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Catamaran';
  src: url(Catamaran-Light.ttf);
  font-weight: 300;
}
