.wrapper h1
{
  color: @green-dark;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.wrapper h2
{
  color: @green-dark;
  font-size: 24px;
  font-weight: normal;
}
.wrapper p
{

}