<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ current_lang }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ current_lang }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ current_lang }}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="{{ current_lang }}"><!--<![endif]-->
<html class="no-js" lang="{{ current_lang }}">
    <head>
        <meta charset="{{charset}}" />
        <title>
            {% if title %}
                {{ title }} | {{ options.blogname }}
            {% else %}
                {{ options.blogname }}
            {% endif %}
        </title>
        <meta name="description" content="">
        <link rel="stylesheet" href="{{ template_path_uri }}/style.css" type="text/css" media="screen" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="pingback" href="{{site.pingback_url}}" />
        <script src="{{template_path_uri}}/js/jquery-3.2.0.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $ = jQuery.noConflict();
        </script>
        <!-- HEADER WORDPRESS START -->
        {{function('wp_head')}}
        <!-- HEADER WORDPRESS END -->
        {% block style %}{% endblock %}
    </head>
    <body class="base-template">
        <header style="background-image: url('{{ template_path_uri }}/images/header.jpg')">
                <a id="logo" href="{{ options.home }}" title="Orllati Real estate SA">
                    <img src="{{ template_path_uri }}/images/marina_logo.png" alt="" />
                </a>
                {% include 'templates/partials/navigation.html.twig' %}
        </header>
        <div id="main-content">
            {% block content %}{% endblock %}
        </div>
        <footer>
            {% include 'templates/partials/footer.html.twig' %}
        </footer>
        <script src="{{template_path_uri}}/js/minified-menu.js" type="text/javascript"></script>
        {% block script %}{% endblock %}
        <!-- FOOTER WORDPRESS START -->
        {{function('wp_footer')}}
        <!-- FOOTER WORDPRESS END -->
    </body>
</html>
