/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates

    Created on : 5 oct. 2016, 16:41:49
    Author     : MEO
*/
.rotate-building
{
    display: none !important;
}
article.building-container .building-details h2.sector-title
{
    visibility: hidden;
    padding-top: 15px;
    color: @blue !important;
    line-height: 19px !important;
    font-size: 18px !important;
    font-weight: normal !important;
}

article.building-container .building-details h2.building-title
{
    color: @blue !important;
    line-height: 28px !important;
    font-size: 28px !important;
    font-weight: bold !important;
    @media @tablets-portrait
    {
        line-height: 26px !important;
        font-size: 26px !important;
    }
    @media @smartphones
    {
        line-height: 24px !important;
        font-size: 24px !important;
        padding: 0;
        margin: 0;
    }
}

article.building-container #table_list_lots
{
    border-top: none;
}

article.building-container #table_list_lots  thead
{
    border-bottom: 1px solid @blue !important;   
}

article.building-container #table_list_lots > thead > tr > th
{
    color: @blue;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid @blue !important;  
}

article.building-container #table_list_lots
{
    border-collapse: separate;
    border-spacing: 0px 10px;
}
article.building-container #table_list_lots > tbody:before
{
    content: '-';
    display: block;
    line-height: 1.5em;
    color: transparent;
}

article.building-container #table_list_lots > tbody > tr > td:last-child 
{
    display: flex;
    flex-wrap: nowrap;
}

article.building-container #table_list_lots > tbody > tr.selected-lot-list > td:last-child > a.details-plan
{
    background-color: #554e4e;
}

article.building-container #table_list_lots > tbody > tr
{
    position: relative;
    overflow: hidden;
}

article.building-container #table_list_lots > tbody > tr > td.disabled-row:after
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    content: '-';
    color: transparent;
    display: block;
    .mixin-background-color-opacity(255,255,255,0.6);
}


article.building-container #table_list_lots > tbody > tr > td
{
    padding: 0;
    position: relative;
}

article.building-container #table_list_lots tbody tr:hover
{
    background-color: #f1f1f1;
}

article.building-container #table_list_lots > tbody > tr > td:last-child
{
    /*background-color: #fff;*/
    padding: 0;
    @media @tablets-portrait
    {
        background-color: transparent;
    }
    @media @smartphones
    {
        background-color: transparent;
    }
}
article.building-container #table_list_lots > tbody > tr > td:last-child > a.details-plan
{
    flex: auto;
    width: 30% !important;
    margin: 0 1%;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: none;
    padding: 0.5rem 0;
    background-color: lighten(@grey, 25%);
}

article.building-container #table_list_lots > tbody > tr > td:last-child > a.details-plan img
{
    display: inline-block;
    margin-left: 10px;
    width: 20px;
}

article.building-container #table_list_lots > tbody > tr > td:last-child > a.download-plan
{
    flex: auto;
    width: 65% !important;
    margin: 0 1%;
    font-size: 14px;
    margin-right: 0;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: none;
    padding: 0.5rem 0;
    background-color: lighten(@blue, 15%);
}

article.building-container #table_list_lots > tbody > tr.selected-lot-list > td:last-child > a.download-plan
{
    background-color: @blue;
}

article.building-container #table_list_lots > tbody > tr.selected-lot-list > td:last-child > a.details-plan i.fa,
article.building-container #table_list_lots > tbody > tr > td:last-child > a.download-plan i.fa
{
    color: #fff;
    margin-left: 10px;
}

.previous-building .icon-bg
{
    cursor: pointer;
    background: transparent url(images/arrows_icon.png) no-repeat;
    display: block;
    height: 82px;
    width: 27px;
    background-position: 0 0;
    background-size: 65px;
    margin: 0 auto;
    @media @smartphones
    {
        height: 40px;
        width: 20px;
        background-size: 44px;
    }
}

.next-building .icon-bg
{
    cursor: pointer;
    background: transparent url(images/arrows_icon.png) no-repeat;
    display: block;
    height: 82px;
    width: 50px;
    background-position: -30px -2px;
    background-size: 65px;
    margin: 0 auto;
    @media @smartphones
    {
        height: 50px;
        width: 20px;
        background-size: 49px;
    }
}

@media @tablets-portrait
{
    h2.building-title .details_building
    {
        height: 100%;
        float: right;
        display: inline-block;
    }
    h2.building-title .details_building i.fa
    {
        font-size: 22px;
        line-height: 24px;
    }
    .building-container .btn-list-lot
    {
        margin-bottom: 0;
    }
    a.btn-list-lot
    {
        color: #fff;
        background-color: lighten(@blue, 20%);
        border: none !important;
    }
    a.btn-list-lot.details-plan
    {
        background-color: lighten(@grey, 20%);
    }
    .building-container a.btn-list-lot.download-plan i.fa
    {
        color: #fff !important;
    }

    tr td:last-child a.btn-list-lot
    {
        color: #fff;
        border: none !important;
    }

    tr td:last-child a.btn-list-lot img,
    tr td:last-child a.btn-list-lot i.fa
    {
        display: none !important;
    }

    a.btn-list-lot i.fa
    {
        color: #fff;
    }

    a.btn-show-lot-details
    {
        color: #fff;
        background-color: lighten(@blue, 20%) !important;
        border: none !important;
    }
    html body .building-container a i.fa
    {
        color: #fff !important;
    }
    a.btn-list-lot img,
    a.btn-show-lot-details img
    {
        width: 35% !important;
        max-width: 23px !important;
    }
}

@media @smartphones
{
    h2.building-title
    {
        
    }
    
    h2.building-title .details_building
    {
        height: 100%;
        float: right;
        display: inline-block;
    }
    h2.building-title .details_building i.fa
    {
        font-size: 20px;
        line-height: 24px;
    }
    .building-container .btn-list-lot
    {
        margin-bottom: 0;
    }
    a.btn-list-lot
    {
        color: #fff;
        background-color: lighten(@blue, 20%) !important;
        border: none !important;
    }

    tr td:last-child a.btn-list-lot
    {
        color: #fff;
        border: none !important;
    }

    a.btn-list-lot i.fa
    {
        color: #fff;
    }

    a.btn-show-lot-details
    {
        color: #fff;
        background-color: lighten(@blue, 20%) !important;
        border: none !important;
    }
    a.btn-show-lot-details i.fa
    {
        color: #fff;
    }
    a.btn-list-lot img,
    a.btn-show-lot-details img
    {
        width: 35% !important;
        max-width: 23px !important;
    }
}

// Popup
.fancybox-inner .detail-popup .information
{
    height: 70px;
}
.fancybox-inner .detail-popup .information .lot-details
{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #554e4e;
    font-weight: normal;
}
.fancybox-inner .detail-popup .information .lot-details .popup-lot-title
{
    color: #536584;
    font-size: 1.5rem;
    font-weight: bold;
}
.fancybox-inner .detail-popup .group-btn
{
    width: 50%;
    height: 100px;
    position: relative;
    margin: 0 auto 10px auto;
}
.fancybox-inner .detail-popup .group-btn .btn-popup-situation
{
    z-index: 9000;
    font-size: 14px;
    position: absolute;
    width: 100%;
    display: block;
    color: #554e4e;
    padding: 10px 0;
    background-color: #e2e2e2;
    text-decoration: none;
    text-align: center;
}
.fancybox-inner .detail-popup .btn-popup-situation.btn-download-file
{
    top: 50px;
    color: #fff;
    background-color: @blue;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}
.fancybox-inner .detail-popup .btn-popup-situation.btn-download-file .fa
{
    color: #fff;
    margin-left: 5px;
}
#closePopupFancyBox
{
    top: -100px;
    width: 40%;
    position: relative;
    display: block;
    color: #554e4e;
    padding: 10px 0;
    background-color: #e2e2e2;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}