/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    Created on : 7 oct. 2016, 10:43:09
    Author     : MEO
*/
section.page-list-lots
{
    margin-bottom: 40px;
}

// Filtre
#list-lot-filter-group-btn span
{
    background-color: @blue;
    font-weight: bold;
    color: #fff;
}
    #list-lot-filter-group-btn span .fa
    {
        color: #fff;
    }
#list-lot-filter-group-btn span.current
{
    background-color: @yellow;
}
#list-filter,
#list-filter span,
#list-filter .fa
{
    color: @blue;
}
#list-filter .fa-chevron-down
{
    font-size: 0.7rem;
}
#list-filter ul.filter-list,
#list-filter ul.filter-list span
{
    color: #554e4e;
}
#list-filter .filter-item
{
    border: none;
}
#list-filter .filter-item:hover,
#list-filter .filter-item.active
{
    color: #fff;
    background-color: @yellow;
}
#list-filter .action-filter #remove-filter
{
    background-color: @blue;
}
#list-filter .action-filter #remove-filter .fa
{
    font-size: 1.3rem;
    color: #fff;
}

// Vignette
article .lot-title
{
    color: @blue;
}

@media @tablets-landscape
{
    article .lot-title
    {
        font-size: 0.8rem;
    }
    article .lot-status,
    article .lot-details
    {
        font-size: 0.7rem;
    }
    article .status-color-bullet
    {
        width: 8px !important;
        height: 8px !important;
    }
    article .btn-group-lot-list
    {
        height: 80px;
    }
}

#list-lot-filter-group-btn
{
    position: relative;
}
span.btn-lot
{
    background-color: transparent;
    border: none;
}
a.btn-lot
{
    border: none !important;
    font-weight: bold;
    background-color: @blue !important;
}

a.btn-situation
{
    color: @blue !important;
    border: none !important;
    font-weight: normal;
    background-color: transparent !important;
    text-decoration: underline;
}

// Popup
.fancybox-skin
{
    background-color: #FFF !important;
}
.fancybox-inner .lot-content
{
    width: 90%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.fancybox-inner .lot-content h2,
.fancybox-inner .lot-content img
{
    width: 100%;
}

.fancybox-inner .lot-content .plan-lot
{
    padding: 0px 0 10px 0;
}
.fancybox-inner .lot-content h2
{
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
}
.fancybox-inner .lot-content h2 .lot-title
{
    font-size: 1.5rem;
    color: @blue;
}
.fancybox-inner .lot-content h2 a.btn-lot
{
    width: 10% !important;
}
.fancybox-inner .lot-content h2 .lot-details
{
    font-size: 1rem;
    color: #554e4e;
    font-weight: normal;
    margin-left: 20px;
}

.fancybox-inner .lot-content h2 .lot-status
{
    top: 10px;
    right: 0;
    display: block;
    position: absolute;
}
.fancybox-inner .lot-content h2 .lot-status .status-color-bullet
{
    top: 5px;
}
.fancybox-inner .lot-content .bloc-flex.plan-lot div:last-child img:first-child
{
    border-bottom: 1px solid #ccc;
    margin: 20px;
}
.fancybox-inner .lot-content .bloc-flex.plan-lot
{
    padding-bottom: 10px;
    padding-top: 0px !important;
    border-bottom: 1px solid #ccc;
}
.fancybox-inner .lot-content .bloc-flex.plan-lot div:last-child img:first-child
{
    display: block;
    margin: 0 auto 15px auto !important;
    width: 90%;    
}
.fancybox-inner .lot-content .bloc-flex.plan-lot div:last-child img:last-child
{
    display: block;
    margin: 0 auto !important;
    width: 70%;
    
}
.fancybox-inner .lot-content .group-btn
{
    height: 50px;
    position: relative;
    justify-content: flex-end;
    padding-top: 25px;
}
.fancybox-inner .lot-content .btn-popup-situation.btn-download-file
{
    color: #fff;
    background-color: @blue;
    margin-left: 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.fancybox-inner .lot-content .btn-popup-situation.btn-download-file .fa
{
    color: #fff;
    margin-left: 5px;
}
.fancybox-inner .lot-content .btn-popup-situation
{
    top: 25px;
    font-size: 14px;
    background-image: none;
    width: auto !important;
    height: 25px !important;
    right: 240px;
    color: #554e4e;
    position: absolute;
    background-color: @blue;
    padding: 15px 25px;    
    display: inline-block;
    text-decoration: none;
    z-index: 8045;
}
.fancybox-inner .lot-content .btn-popup-situation.btn-download-file
{
    right: 0px;
}
.fancybox-inner .lot-content .btn-popup-situation
{
    background-color: #e2e2e2;
}
.fancybox-inner .lot-content .group-btn.disabled-btn-group:after
{
    width: 100%;
    height: 80%;
    content: '-';
    color: transparent;
    position: absolute;
    top: 10px;
    left: 0;
    .mixin-background-color-opacity(255,255,255,0.7);
    z-index: 300;
}
.fancybox-inner .lot-content .group-btn.disabled-btn-group .btn-popup-situation
{
    z-index: 200;
}