html,
html body
{
  width: 100%;
  height: 100%;
  color: @grey-txt;
  font-family: @font-family;
  font-size: @font-size;
  font-weight: 400;
}

.base-template .wrapper
{
  width: 80%;
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

/*  HEADER */
.base-template header
{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  @media @smartphones, @device-smartphones
  {
    background-position: center center;
  }
}
.base-template header a#logo
{
  display: block;
  position: relative;
  background-color: #fff;
  width: 35%;
  z-index: 10;
  text-align: right;
  padding: 2rem 2rem 2rem 0;
  @media @device-tablets, @smartphones, @device-smartphones
  {
    width: 100%;
    padding: 2rem 0;
    .mixin-background-color-opacity(255,255,255,0.8)
  }
}
.base-template header a#logo:after
{
  top: 0;
  left: -5%;
  z-index: 0;
  content: '';
  height: 100%;
  width: 110%;
  position: absolute;
  transform: skewX(-15deg);
  background-color: #fff;
  @media @device-tablets, @smartphones, @device-smartphones
  {
    display: none;
  }
}
.base-template header a#logo img
{
  width: 60%;
  z-index: 100;
  position: relative;
  @media @device-tablets, @smartphones, @device-smartphones
  {
    width: 40%;
    display: block;
    margin: 0 auto;
  }
}
.base-template header nav
{
  width: 100%;
  position: relative;
  display: block;
  background-color: @green-light;
}
.base-template header nav ul:after
{
  content: '';
  display: block;
  clear: both;
}
.base-template header nav.desktop > ul
{
  width: 100%;
  list-style: none;
  display: block;
}
.base-template nav.desktop > ul > li
{
  float: left;
  position: relative
}
.base-template nav.desktop > ul > li.active:after
{
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  bottom: 0;
  content: "";
  left: 41%;
  position: absolute;
}
.base-template nav.desktop > ul > li > a
{
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-left: 1px solid @white-opacity;
  padding: 5px 10px;
}
.base-template nav.desktop ul li:first-child a
{
  border-left: none;
}
.base-template nav.desktop ul li a:hover
{
  background-color: rgba(0,0,0,0.1);
  text-decoration: none;
}
.base-template nav.desktop > ul > li > ul
{
  top: 98%;
  left: 0;
  border: none;
  display: none;
  position: absolute;
  list-style: none;
  z-index: 100;
}
.base-template nav.desktop > ul > li:hover > ul
{
  display: block;
}
.base-template nav.desktop > ul > li > ul > li
{
  display: block;
}
.base-template nav.desktop > ul > li > ul > li:hover
{
  background-color: transparent;
}
.base-template nav.desktop > ul > li > ul > li > a,
.base-template nav.desktop > ul > li > ul > li > a:hover
{
  color: @grey-txt;
  width: 100%;
  border-left: 1px solid lighten(@grey-txt, 30%) !important;
  border-right: 1px solid lighten(@grey-txt, 30%) !important;
  padding: 0.5rem 2rem;
  text-align: center;
  display: block;
  background-color: #fff;
  text-decoration: none;
}
.base-template nav.desktop > ul > li > ul > li:first-child > a
{
  border-top: 1px solid lighten(@grey-txt, 30%);
}
.base-template nav.desktop > ul > li > ul > li > a:last-child
{
  border-bottom: 1px solid lighten(@grey-txt, 30%);
}
.base-template nav.desktop > ul > li > ul > li > a:hover
{
  background-color: #efefef;
}
.base-template nav.minified:after
{
  color: @green-dark;
  font-family: FontAwesome;
  content: "\f0c9";
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 80%;
}
.base-template nav.minified ul
{
  display: none;
  position: absolute;
  list-style: none;
  .mixin-background-color-opacity(255,255,255,1);
  border: 1px solid @grey-light;
  border-top: none;
  margin: 0 auto;
  z-index: 100;
  top: 100%;
  left: 7.3%;
}
.base-template nav.minified ul li
{
  float: none;
  margin-right: 0rem;
  border-bottom: 1px solid @grey-light;
}
.base-template nav.minified ul li:last-child
{
  border-bottom: none;
}
.base-template nav.minified ul li a
{
  display: block;
  width: 100%;
  color: @grey-txt;
  line-height: 3rem;
  text-align: center;
}
.base-template nav.minified ul li a:hover
{
  text-decoration: none;
}
.base-template nav.minified > ul > li > ul
{
  border: none;
  border-top: 1px dotted lighten(@grey-txt, 30%);
  display: none;
  position: inherit;
  list-style: none;
  z-index: 100;
  width: 100%;
}
.base-template nav.minified > ul > li:hover > ul
{
  display: block;
}
.base-template nav.minified > ul > li > ul > li
{
  border: none
}
/*  CONTENT */
.base-template main
{
  padding: 5rem 0;
}
.rotate-building
{
  display: none;
}

/*  FOOTER */
.base-template footer
{
  width: 100%;
  color: #fff;
  background-color: @green-dark;
}
.base-template footer a
{
  color: #fff;
  overflow: hidden;
  text-decoration: none;
}
.base-template footer > .wrapper
{
  //display: flex !important;
  position: relative;
  padding: 2rem 0;
}
.base-template footer > .wrapper > section
{
  flex: auto;
  display: block;
}
.base-template footer > .wrapper > section#meo-block
{
  @media @smartphones, @device-smartphones
  {
    display: none;
  }

}
.base-template footer > .wrapper > section#meo-block > span
{
  display: block;
  font-size: 0.8rem;
  @media @smartphones, @device-smartphones
  {
    width: 100%;
  }
}
.base-template footer > .wrapper > section#compagny
{
  top: 1.3rem;
  right: 0;
  position: absolute;
  @media @smartphones, @device-smartphones
  {
    display: block;
    position: inherit;
  }
}
.base-template footer > .wrapper > section#compagny:after
{
  content: "";
  height: calc(200%);
  position: absolute;
  right: 110%;
  top: -2rem;
  transform: skewX(-15deg);
  width: 200%;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ccffffff',GradientType=1 );
  @media @smartphones, @device-smartphones
  {
    display: none;
  }
}
.base-template footer > .wrapper > section#compagny >img
{
  display: inline-block;
  height: 40px;
  max-width: 100px;
  width: 100px;
  margin-right: 20px;
}
.base-template footer > .wrapper > section#compagny >span
{
  line-height: 0.9rem;
  display: inline-block;
}


/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.

    Created on : 3 oct. 2016, 15:24:15
    Author     : MEO
*/


#main-content
{
  padding: 50px 0;
  width: 100%;
  max-width: 100%;
  position: relative;
  @media @smartphones
  {
    margin: 50px 0 !important;
  }
}

#main-content img,
#main-content .flex-col img
{
  width: 100%;
}


/*
 *    PAGE CONCEPT
 */
#main-content .page-concept h1
{
  padding: 0 10px;
}

#main-content .page-concept .wrap-content-full-width-table .col-67,
#main-content .page-concept .wrap-content-full-width-table .col-66,
#main-content .page-concept .wrap-content-full-width-table .col-33,
#main-content .page-concept .wrap-content-full-width-table .col-32
{
  padding: 20px;
}

#main-content .page-concept .wrap-content-full-width-table
{
  border-collapse: separate;
  border-spacing: 10px 5px;
  @media @tablets-portrait
  {
    border-spacing: 0px;
  }
  @media @smartphones
  {
    border-spacing: 0px;
  }
}
#main-content .page-concept .wrap-content-full-width-table .cell-col
{
  @media @tablets-portrait
  {
    margin-bottom: 20px;
  }
  @media @smartphones
  {
    margin-bottom: 100px;
  }
}

#main-content .page-concept .wrap-content-full-width-table .cell-col img,
#main-content .page-concept .wrap-content-full-width-table .cell-col h2,
#main-content .page-concept .wrap-content-full-width-table .cell-col p
{
  width: 100%;
}

#main-content .page-concept .wrap-content-full-width-table .cell-col h2
{
  display: block;
  @media @tablets-portrait
  {
    padding-top: 20px;
  }
  @media @smartphones
  {
    padding-top: 20px;
  }
}

#main-content .page-concept .wrap-content-full-width-table .cell-col h2:after
{
  content: ' ';
  width: 140px;
  display: block;
  height: 2px;
  margin-top: 5px;
  margin-bottom: 35px;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col
{

}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2.yellow
{
  color: @yellow;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2.yellow:after
{
  background-color: @yellow;
}

#main-content .page-concept .wrap-content-full-width-table .cell-col h2.blue
{
  color: @blue;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2.blue:after
{
  background-color: @blue;
}

#main-content .page-concept .wrap-content-full-width-table .cell-col h2.green
{
  color: @green;
}
#main-content .page-concept .wrap-content-full-width-table .cell-col h2.green:after
{
  background-color: @green;
}

#main-content .page-concept .wrap-content-full-width-table .cell-col img
{
  margin-bottom: 35px;
}

/*
 *    PAGE SITUATION
 */
#main-content .page-situation
{
  padding: 0 10px;
}
#main-content .page-situation > div > img
{
  margin-bottom: 30px;
}
#main-content .btn-bloc-situation
{
  width: 100%;
  display:-webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
a.btn-desktop
{
  display: block;
  @media @smartphones
  {
    display: none;
  }
}
a.btn-mobile
{
  display: none;
  @media @smartphones
  {
    display: block;
  }
}
#main-content .btn-blue
{
  width: 20%;
  flex: 0 auto;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0 35px 0;
  background-color: @green-light;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
  @media @tablets-portrait
  {
    width: 100%;
    padding: 10px 0 !important;
  }
  @media @smartphones
  {
    width: 100%;
    padding: 10px 0 !important;
  }
}
#main-content .btn-blue:hover
{
  background-color: @yellow;
}
/*
 *    PAGE GALERIE
 */
#main-content .page-galerie
{
  padding: 0 10px;
}

/*
 *    PAGE LISTE PRIX
 */
#main-content .page-list-price
{
  padding: 0 10px;
}

/*
 *    PAGE CONTACT
 */
#main-content .page-contact
{
  padding: 0 10px;
}
#main-content .page-contact h1,
#main-content .page-contact h2
{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #efefef;
}
#main-content .page-contact h2.left-title
{
  width: 98%;
}
#main-content .page-contact h2.right-title
{
  width: 98%;
  margin-left: 10px;
}
#main-content .page-contact .col-100
{
  margin-bottom: 50px;
}
#main-content .page-contact p.information
{
  padding-left: 10px;
}
#main-content .page-contact p span
{
  font-weight: bold;
  text-transform: uppercase;
}

#main-content .page-contact legend
{
  font-size: 0.7rem;
}
#main-content .page-contact iframe
{
  width: 100%;
}
#main-content .page-contact form.wpcf7-form input,
#main-content .page-contact form.wpcf7-form textarea
{
  width: 96%;
  padding: 10px 2%;
  margin-bottom: 10px;
  border: 1px solid #efefef !important;
  .mixin-border-radius(0,0,0,0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
#main-content .page-contact #immoval
{
  width: auto !important;
  max-height: 150px !important;
  margin: 50px 0 20px 0;
}
#main-content .page-contact form.wpcf7-form textarea
{
  height: 207px;
}
#main-content .page-contact form.wpcf7-form input.wpcf7-form-control.wpcf7-submit
{
  width: 20%;
  min-width: 100px;
  float: right;
  background-color: @green-light;
  border: none;
  color: #fff;
}
