{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css"/>
    </head>
{% endblock %}

    <body class="{{body_class}}" data-template="base.twig">

        <header style="background-image: url('{{ template_path_uri }}/images/header.jpg')">
            <a id="logo" href="{{ options.home }}" title="Orllati Real estate SA">
                <img src="{{ template_path_uri }}/images/marina_logo.png" alt="" />
            </a>
            {% include 'templates/partials/navigation.html.twig' %}
        </header>

        <div id="main-content" role="main">
            {% block content %}{% endblock %}
        </div>

        {% include 'templates/partials/footer.html.twig' %}

        <script type="text/javascript" src="{{ template_path }}/js/steiner-script.js"></script>
        {% block script %}{% endblock %}
        <script type="text/javascript">
            $(document).ready(function(){
                $('#menu-main_navigation li.menu-item').each(function(){
                    $(this).find('a.ui-link').each(function(){
                        console.log($(this).attr('href'));
                        $(this).attr('rel','external');
                    }); 
                }); 
            });
        </script>

        <!-- FOOTER WORDPRESS START -->
        {{function('wp_footer')}}
        <!-- FOOTER WORDPRESS END -->

    </body>
        
</html>
