    {% block html_head_container %}

        {% include 'html-header.twig' %}
        {% block head %}
        {% endblock %}
        {% block style %}
        {% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css"/>
        </head>
    {% endblock %} 
    
    <body id="homepage" class="{{body_class}}" data-template="base.twig">

    <div id="slider">
        {% for slide in sliders %}
            <div class="slide" style="background-image: url('{{ slide.background_image }}')">

            </div>
        {% endfor %}
    </div>

    <div id="home">

        <div>
            <img id="logo" src="{{ template_path_uri }}/images/marina_logo.png">
        </div>
        <div>
            <section>
                <h1>{{ title_homepage }}</h1>
                <nav>
                    <ul id="nav-content">

                        {% for menu in menus_homepage %}
                            {% set current_menu = (menu.object_id == post.id ) ? 'active' : '' %}
                            <li class="{{ current_menu }}">
                                <a href="{{ menu.url }}">
                                    {{ menu.title }}
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                </nav>
            </section>
        </div>

    </div>


        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('nav').click(function(){
                    if(jQuery('#nav-content').css('display') == 'none')
                    {
                        jQuery('#nav-content').show();
                    }else{
                        jQuery('#nav-content').hide();
                    }
                });
            });
        </script>
        <script src="{{ template_path_uri }}/js/homeslider.js" type="text/javascript" />
        <!-- FOOTER WORDPRESS START -->
        {{function('wp_footer')}}
        <!-- FOOTER WORDPRESS END -->

    </body>        
</html>
